In [3]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("titanic.csv")

In [ ]:
df

In [ ]:
# check dimension of the dataframe
df.shape

In [ ]:
# check columns present
df.columns

In [ ]:
# check the total size
df.size

In [ ]:
df.dtypes

In [ ]:
# check for missing values
df.isnull().sum()

In [ ]:
# check the intial statistics
df.describe()

In [ ]:
# printed the info about the dataframe
df.info()

In [ ]:
#data normalization and data formating

# handling missing values
#1 fillna() method which we can replace null(NaN) values with some oth or we 
# can perform forward fill(ffill) , backward fill(bfill).

#2 interpolate(): performs linear interpolation( by default but u can change and repplace the null with the result.)
#3 deropna(): it will drop all the rows that have NaN values . but using this

In [ ]:
df["Cabin"]= df["Cabin"].replace(to_replace=np.nan,value="unknown")

In [ ]:
df

In [ ]:
df["Age"]=df["Age"].interpolate()
df

In [ ]:
df["Embarked"].fillna(method="ffill",inplace=True)

In [ ]:
df

In [ ]:
df.isnull().sum()

In [ ]:
#Changing datatypes
df.dtypes

In [ ]:
df["Aeg"]=df["Age"].astype('int64')

In [ ]:
df

In [ ]:
# turning categorical variables into quantitive
quantitaive_data=pd.get_dummies(df.Embarked,prefix='Embarked')

In [ ]:
quantitaive_data

In [ ]:
df=df.join(quantitaive_data)
df

In [ ]:
df.drop(['Embarked'],axis=1,inplace=True)
df

In [ ]:
quantitaive_sex=pd.get_dummies(df.Sex,prefix='Sex')
quantitaive_sex

In [ ]:
df=df.join(quantitaive_sex)
df

In [ ]:
df.drop(['Sex'],axis=1,inplace=True)

In [ ]:
df