In [2]:
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()

In [3]:
print(housing)

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
          37.88      , -122.23      ],
       [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
          37.86      , -122.22      ],
       [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
          37.85      , -122.24      ],
       ...,
       [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
          39.43      , -121.22      ],
       [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
          39.43      , -121.32      ],
       [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
          39.37      , -121.24      ]]), 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]), 'frame': None, 'target_names': ['MedHouseVal'], 'feature_names': ['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup', 'Latitude', 'Longitude'], 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nAn household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surpinsingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [4]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split

In [8]:
df_x = pd.DataFrame(housing.data, columns=housing.feature_names)

In [ ]:
#The query df_x = pd.DataFrame(housing.data, columns=housing.feature_names) creates a pandas DataFrame df_x using the data from the housing.data array. The housing.data array is assumed to contain the input data for a housing dataset, where each row represents a sample or instance, and each column represents a feature or attribute.
#By specifying columns=housing.feature_names, the column names of the DataFrame are set to the values from the housing.feature_names array. This ensures that the DataFrame's columns are labeled with meaningful names corresponding to the housing dataset's features.
#Overall, this query creates a DataFrame df_x with the housing dataset's input data, where each column is labeled with its corresponding feature name.

In [10]:
df_y = pd.DataFrame(housing.target)

In [ ]:
#The query df_y = pd.DataFrame(housing.target) creates a pandas DataFrame df_y using the housing.target array. The housing.target array is assumed to contain the target variable values for a housing dataset, which typically represents the variable you want to predict or model.
#By passing housing.target as the data argument to the pd.DataFrame function, it creates a DataFrame df_y with a single column that contains the target variable values.
#In summary, this query creates a DataFrame df_y that holds the target variable values from the housing dataset.

In [11]:
df_x

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25
...,...,...,...,...,...,...,...,...
20635,1.5603,25.0,5.045455,1.133333,845.0,2.560606,39.48,-121.09
20636,2.5568,18.0,6.114035,1.315789,356.0,3.122807,39.49,-121.21
20637,1.7000,17.0,5.205543,1.120092,1007.0,2.325635,39.43,-121.22
20638,1.8672,18.0,5.329513,1.171920,741.0,2.123209,39.43,-121.32
20639,2.3886,16.0,5.254717,1.162264,1387.0,2.616981,39.37,-121.24

In [12]:
df_y

           0
0      4.526
1      3.585
2      3.521
3      3.413
4      3.422
...      ...
20635  0.781
20636  0.771
20637  0.923
20638  0.847
20639  0.894

[20640 rows x 1 columns]

In [13]:
df_x.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000

In [14]:
df_y.describe()

                  0
count  20640.000000
mean       2.068558
std        1.153956
min        0.149990
25%        1.196000
50%        1.797000
75%        2.647250
max        5.000010

In [15]:
df_x.shape

(20640, 8)

In [16]:
df_y.shape

(20640, 1)

In [17]:
df_x.columns

Index(['MedInc', 'HouseAge', 'AveRooms', 'AveBedrms', 'Population', 'AveOccup',
       'Latitude', 'Longitude'],
      dtype='object')

In [18]:
df_y.columns

RangeIndex(start=0, stop=1, step=1)

In [19]:
reg = linear_model.LinearRegression()

In [ ]:
#The query reg = linear_model.LinearRegression() creates an instance of the LinearRegression class from the linear_model module in scikit-learn.

In [20]:
x_train, x_test, y_train,y_test= train_test_split(df_x,df_y,train_size=0.3,random_state=42)

In [ ]:
#The query x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, train_size=0.3, random_state=42) splits the input data (df_x) and target variable (df_y) into training and testing datasets using the train_test_split function from scikit-learn.
#Here's a breakdown of the parameters used in the function:

#df_x: The input data (features) represented as a pandas DataFrame (df_x).
#df_y: The target variable represented as a pandas DataFrame (df_y).
#train_size: The proportion of the data to be allocated for training. In this case, 30% of the data will be used for training, and the remaining 70% will be allocated for testing.
#random_state: The seed value used by the random number generator for reproducibility. Setting random_state to 42 ensures that the data split will be the same every time the code is executed.

#The function returns four sets of data:

#x_train: The training data (input features) derived from df_x.
#x_test: The testing data (input features) derived from df_x.
#y_train: The training data (target variable) derived from df_y.
#y_test: The testing data (target variable) derived from df_y.

#By performing this split, you can separate the data into training and testing datasets, allowing you to train a model on the training data and evaluate its performance on the independent testing data.

In [21]:
reg.fit(x_train, y_train)

LinearRegression()

In [ ]:
#After executing reg.fit(x_train, y_train), the linear regression model reg will have learned from the training data, and its parameters will be optimized for making predictions based on the learned relationship between the input features and the target variable.

In [23]:
print(reg.coef_)

[[ 4.35634251e-01  9.88351106e-03 -1.02766313e-01  7.08780472e-01
   5.66829257e-06 -3.12148716e-03 -4.12784434e-01 -4.25065914e-01]]

In [24]:
#prediction

y_pred = reg.predict(x_test)
print(y_pred)

[[0.73493543]
 [1.76473379]
 [2.6706274 ]
 ...
 [2.72433268]
 [1.57008971]
 [1.58683361]]

In [25]:
print(y_test)

             0
20046  0.47700
3024   0.45800
15663  5.00001
20484  2.18600
9814   2.78000
...        ...
3161   0.68000
2630   0.58100
18443  2.41200
3174   1.00000
2565   1.04200

[14448 rows x 1 columns]

In [ ]:
#The code print(reg.coef_) outputs the coefficients of the features in the linear regression model reg. Assuming you have fitted the linear regression model using reg.fit(x_train, y_train), this line of code retrieves and prints the coefficients.
#The coef_ attribute of the reg object contains an array that holds the coefficients of the linear regression model. Each coefficient corresponds to a specific feature in the input data.
#By printing reg.coef_, you can see the calculated coefficient values for each feature in the linear regression model. These coefficients represent the weights assigned to each feature and indicate the magnitude and direction of the relationship between the feature and the target variable.
#Note that the order of the coefficients in the reg.coef_ array corresponds to the order of the features in the input data (x_train).

In [26]:
#mean squared method y_pred-y_test^2

print(np.mean(y_pred-y_test)**2)

0    0.000002
dtype: float64

C:\ProgramData\anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3430: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

In [30]:
from sklearn.metrics import mean_squared_error
print(mean_squared_error(y_test,y_pred))

0.5275236518754025